<h1> Cofre Fibonacci</h1>
<br>

<div class="col-md-12">
    <input class="form-control" type="text" id="digitos" disabled="disabled">
    <br>
    <label>Senha</label>
    <br />
    <input class="form-control" type="text" id="senha" disabled="disabled">
    <br /><br />
    <button id="entrar" class="btn btn-success">Confirmar o código</button>
</div>


<script src="~/js/Cofre/Senha.js"></script>